* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  background: #191970; 
  color: whitesmoke; 
  /* overflow: hidden; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}



.navbar a{
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
    position: relative;
}

.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}

.hover-contact::before {
    background-color: transparent;
    content: attr(data-contact);
    opacity: 0;
    width: 150px;
    color: white;
    font-size: 11px;
    position: absolute;
    padding: 5px 0;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hover-contact:hover::before {
    opacity: 1;
    visibility: visible;
}
.home {
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    top: 250px;
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    margin: 20px 0 40px;
    font-size: 17px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 365px;
    height: 50px;
    /* background: yellowgreen; */
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-apps {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    
}

.home-apps a {
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-apps a:hover {
    color: #081b29;
}

.home-apps a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-apps a:hover::before {
    width: 100%;
}

.card {
   width: 90%;
   top: -10px;
   right: 250px;
   max-width: 470px;
   background: linear-gradient(125deg, #00fafead, #7d548a);
   color: #fff;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
   border: 0;
    outline: 0;
    background: #ebfffc; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.bx-search{
    font-size: 40px;
}

.error {
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather-icon {
max-width: 150px;
}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.bxs-cloud-rain,
.bx-water,
.bx-wind {
    font-size: 50px;
}

.bx-water,
.bx-wind {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

